<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="tw.edu.cgu.ai.MainActivity"
            tools:node="merge">
            <intent-filter tools:node="replace">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.asus.intent.category.ZENBO" />
                <category android:name="com.asus.intent.category.ZENBO_LAUNCHER" />
                <category android:name="com.asus.intent.data.MIN_ROBOT_API_LEVEL.1" />
            </intent-filter>
        </activity>
    </application>

</manifest>
