[Desktop Entry]
Type=Application
Name=Solo Senior Watch Robot
Comment=Launch the robot nurse application
Exec=/bin/bash -lc "source /opt/ros/jazzy/setup.bash && source /home/chihyuan/SoloSeniorWatchRobot/ros2_ws/install/setup.bash && ros2 launch my_robot_bringup robot.launch.py"
Icon=/home/chihyuan/SoloSeniorWatchRobot/ros2_ws/install/robot_nurse_gui/share/robot_nurse_gui/SoloSeniorWatchRobot.png
Terminal=false
Categories=Utility;
